.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-height: 500px;
    backdrop-filter: blur(5px);
    flex-shrink: 0;
}

.imgContainer img {
    max-width: 100%;
    max-height: 250px;
    border-radius: 4px 4px 0 0;
    flex-shrink: 0;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50vw;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .card {
        width: 250px;
        height: 300px;
        justify-items: flex-end;
    }

    .imgContainer img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 4px 4px 0 0;
    }

    .author {
        width: 100%;
    }
}